.header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #eee;
}
.header-top span a:hover {
  color: blue;
  text-decoration: underline;
}
.header-top .header-nav {
  display: flex;
}
.header-top .header-nav li {
  border-right: 1px solid #000;
  padding-right: 10px;
  margin-right: 10px;
}
.header-top .header-nav li a:hover {
  color: blue;
  text-decoration: underline;
}
.header-top .header-nav li:hover {
  color: blue;
  text-decoration: underline;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.header-bottom .header-form {
  display: flex;
  align-items: center;
}
.header-bottom input {
  box-sizing: border-box;
  border: 1px solid red;
  width: 500px;
  height: 30px;
  outline: none;
  padding: 0 10px;
  font-size: 16px;
}
.header-bottom button {
  background-color: red;
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.type {
  border-bottom: 2px solid red;
}
.type .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.type .container .all {
  width: 210px;
  height: 45px;
  background-color: #e1251b;
  line-height: 45px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700px;
}
.type .container .nav a {
  height: 45px;
  margin: 0 22px;
  line-height: 45px;
  font-size: 16px;
  color: #333;
}
.type .container .nav a:hover {
  color: blue;
  text-decoration: underline;
}
.type .container .sort {
  position: absolute;
  left: 0;
  top: 45px;
  width: 210px;
  height: 480px;
  background: #fafafa;
  z-index: 999;
}
.type .container .sort .all-sort-list2 {
  overflow: hidden;
  height: 480px;
}
.type .container .sort .all-sort-list2 .item h3 {
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  margin: 0;
}
.type .container .sort .all-sort-list2 .item h3 a {
  display: block;
  padding: 0 20px;
  color: #333;
}
.type .container .sort .all-sort-list2 .item h3 a:hover {
  background-color: pink;
}
.type .container .sort .all-sort-list2 .item .item-list {
  display: none;
  position: absolute;
  width: 734px;
  height: 200px;
  min-height: 480px;
  background: #f7f7f7;
  left: 210px;
  border: 1px solid #ddd;
  top: 0;
  z-index: 999 !important;
  overflow: hidden;
}
.type .container .sort .all-sort-list2 .item .item-list .subitem {
  float: left;
  width: 650px;
  padding: 0 4px 0 8px;
}
.type .container .sort .all-sort-list2 .item .item-list .subitem dl {
  border-top: 0;
  padding: 6px 0;
  overflow: hidden;
}
.type .container .sort .all-sort-list2 .item .item-list .subitem dl dt {
  float: left;
  width: 54px;
  line-height: 22px;
  text-align: right;
  padding: 3px 6px 0 0;
  font-weight: 700;
}
.type .container .sort .all-sort-list2 .item .item-list .subitem dl dt a {
  color: #666;
}
.type .container .sort .all-sort-list2 .item .item-list .subitem dl dd {
  float: left;
  width: 415px;
  padding: 3px 0 0;
  overflow: hidden;
}
.type .container .sort .all-sort-list2 .item .item-list .subitem dl dd em {
  float: left;
  height: 14px;
  line-height: 14px;
  padding: 0 8px;
  margin-top: 5px;
  border-left: 1px solid #ccc;
}
.list-container {
  width: 1200px;
  margin: 0 auto;
}
.list-container .sortList {
  height: 464px;
  padding-left: 210px;
}
.list-container .sortList .center {
  box-sizing: border-box;
  width: 740px;
  height: 100%;
  padding: 5px;
  float: left;
}
.list-container .sortList ul li {
  float: left;
}
.right {
  float: left;
  width: 250px;
  height: 250px;
}
.right .news {
  border: 1px solid #e4e4e4;
  margin-top: 5px;
  position: relative;
  z-index: 3;
}
.right .news h4 {
  border-bottom: 1px solid #e4e4e4;
  padding: 5px 10px;
  margin: 5px 5px 0;
  line-height: 22px;
  overflow: hidden;
  font-size: 14px;
}
.right .news h4 .fl {
  float: left;
}
.right .news h4 .fr {
  float: right;
  font-size: 12px;
  font-weight: 400;
}
.right .news ul.news-list {
  padding: 5px 15px;
}
.right .news ul li {
  line-height: 26px;
}
.right .news ul li .bold {
  font-weight: 700;
}
.right .Lifeservice {
  float: left;
  overflow: hidden;
  border-right: 1px solid #e4e4e4;
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
}
.right .Lifeservice .life-item {
  border-left: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin-right: -1px;
  height: 64px;
  text-align: center;
  position: relative;
  cursor: pointer;
  list-style: none;
}
.right .Lifeservice .list-item {
  background-image: url(../images/icons.b70f2c3b.png);
  width: 61px;
  height: 40px;
  display: block;
}
.right .Lifeservice .list-item .list-item-1 {
  background-position: 0px -5px;
}
.right .Lifeservice .service-intro {
  line-height: 22px;
  width: 60px;
  display: block;
}
.right .Lifeservice .list-item-2 {
  background-position: -62px -5px;
}
.right .Lifeservice .list-item-3 {
  background-position: -126px -5px;
}
.right .Lifeservice .list-item-4 {
  background-position: -190px -5px;
}
.right .ads {
  margin-top: 5px;
}
.right .ads img {
  opacity: 0.8;
  transition: all 0.4s;
}
.today-recommend .py-container {
  width: 1200px;
  margin: 0 auto;
}
.today-recommend .py-container .recommend {
  height: 165px;
  background-color: #eaeaea;
  margin: 10px 0;
  display: flex;
}
.today-recommend .py-container .recommend .clock {
  width: 16.67%;
  background-color: #5c5251;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.today-recommend .py-container .recommend .clock .time {
  padding: 30px 0;
}
.today-recommend .py-container .recommend .clock h3 {
  margin: 9px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30.6px;
}
.today-recommend .py-container .recommend .banner {
  width: 20.83%;
}
.today-recommend .py-container .recommend .banner img {
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}
.rank {
  width: 1200px;
  margin: 0 auto;
}
.rank .tab {
  margin: 0 auto;
  overflow: hidden;
  width: 312px;
}
.rank .tab .tab-tit {
  text-align: center;
}
.rank .tab .tab-tit .on {
  color: #e60012;
}
.rank .tab .tab-tit .on .img i {
  background-position: -35px 0;
}
.rank .tab .tab-tit a {
  display: block;
  float: left;
  padding: 0 18px;
  text-decoration: none;
  font-size: 16px;
  color: #999;
}
.rank .tab .tab-tit a .img i {
  width: 35px;
  height: 35px;
  display: block;
  background: url(../images/bg0.png);
}
.rank .tab .tab-tit a p {
  margin: 5px 0px;
}
.rank .tab .tab-tit a .text {
  display: block;
  line-height: 28px;
}
.rank .content {
  overflow: hidden;
  padding: 10px;
}
.rank .content ul {
  list-style: none;
}
.rank .content ul li {
  overflow: hidden;
  list-style: none;
  line-height: 18px;
}
.rank .content ul li .img-item {
  border: 1px solid #e1251b;
  width: 269px;
  float: left;
  overflow: hidden;
  margin: 0 12px 10px;
  background: #fff;
}
.rank .content ul li .img-item .tab-pic {
  width: 230px;
  height: 210px;
  overflow: hidden;
  text-align: center;
  margin: 5px auto 18px;
}
.rank .content ul li .img-item .tab-pic a {
  text-decoration: none;
  color: #666;
}
.rank .content ul li .img-item .tab-pic a img {
  width: 200px;
  height: 200px;
}
.rank .content ul li .img-item .tab-info {
  background-color: #fafafa;
}
.rank .content ul li .img-item .tab-info .info-title {
  height: 50px;
  line-height: 28px;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 10px;
}
.rank .content ul li .img-item .tab-info .info-title a {
  color: #333;
  text-decoration: none;
}
.rank .content ul li .img-item .tab-info .info-price {
  font-size: 20px;
  color: red;
  height: 35px;
  padding-left: 10px;
  display: block;
  line-height: 24px;
  margin: 10px auto 0;
}
.like {
  margin-top: 15px;
}
.like .py-container {
  width: 1200px;
  margin: 0 auto;
}
.like .py-container .title {
  overflow: hidden;
}
.like .py-container .title .fl {
  float: left;
  font-size: 20px;
  line-height: 30px;
}
.like .py-container .title .fr {
  float: right;
  background-image: url(../images/icons.b70f2c3b.png);
  width: 66px;
  height: 25px;
  background-position: 182px -104px;
  line-height: 30px;
  font-size: 12px;
  font-weight: 400px;
  color: #666;
  text-decoration: none;
}
.like .bd .favourate {
  border: 1px solid #e4e4e4;
  overflow: hidden;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
}
.like .bd .favourate li {
  height: 250px;
  margin: 0 -1px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  width: 16.667%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.like .bd .favourate li img {
  width: 142px;
  height: 142px;
  transition: all 0.4s;
}
.like .bd .favourate li .like-text {
  padding: 0;
  width: 142px;
  border-right: 1px solid #e4e4e4;
}
.like .bd .favourate li .like-text h3 {
  color: #df3033;
  font-size: 20px;
  line-height: 30px;
  margin: 9px 0;
  font-weight: 700;
}
.floor {
  margin-top: 15px;
}
.floor .py-container {
  width: 1200px;
  margin: 0 auto;
}
.floor .py-container .title .fl {
  float: left;
  color: #c81623;
  font-size: 20px;
  line-height: 30px;
  margin: 9px 0;
  font-weight: 700;
}
.floor .py-container .title .fl .nav-tabs {
  margin: 10 0 0;
  display: inline-block;
}
.floor .py-container .title .fr {
  float: right;
}
.floor .py-container .title .fr li {
  float: left;
  line-height: 18px;
}
.floor .py-container .title .fr li a {
  color: #e1251b;
}
.floor .py-container .title .fr li a::after {
  content: '|';
  padding: 0 10px;
}
.floor .py-container .tab-content {
  border-top: 2px solid #c81623;
  border-bottom: 1px solid #e4e4e4;
}
.floor .py-container .tab-content .floor-1 {
  height: 360px;
  display: flex;
}
.floor .py-container .tab-content .floor-1 .blockgary {
  width: 210px;
  height: 100%;
  background: #f7f7f7;
}
.floor .py-container .tab-content .floor-1 .blockgary .jd-list {
  padding: 15px 0;
  overflow: hidden;
}
.floor .py-container .tab-content .floor-1 .blockgary .jd-list li {
  list-style-type: none;
  float: left;
  width: 40%;
  margin: 0 10px;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
  line-height: 26px;
}
.floor .py-container .tab-content .floor-1 .blockgary .jd-list img {
  width: 100%;
}
.floor .py-container .tab-content .floor-1 .floorBanner {
  width: 330px;
  height: 100%;
}
.floor .py-container .tab-content .floor-1 .split {
  width: 220px;
  height: 100%;
  position: relative;
}
.floor .py-container .tab-content .floor-1 .split .floor-x-line {
  position: absolute;
  background: #e4e4e4;
  width: 220px;
  height: 1px;
  top: 180px;
}
.floor .py-container .tab-content .floor-1 .split .floor-conver-pit {
  width: 100%;
  height: 50%;
}
.floor .py-container .tab-content .floor-1 .center {
  width: 220px;
  height: 100%;
  position: relative;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}
.brand {
  margin: 10px 0;
}
.brand .py-container {
  width: 1200px;
  margin: 0 auto;
}
.brand .py-container .brand-list {
  overflow: hidden;
  padding: 15px 0;
  background: #f7f7f7;
  line-height: 18px;
}
.brand .py-container .brand-item {
  width: 120px;
  float: left;
  height: 37px;
}
